.container-fluid {
    padding: 0;
    height: 100vh;
}

    * {
        box-sizing: border-box;
    }

    body{
        margin: 0px;
        padding: 0px;
        height: 100vh;
        max-height: 100vh;
        outline: 0px;
    }

    .col-12{
        padding-left: 0px;
        padding-right: 0px;
    }

    .row{
        /*display: block;*/
        /* display: -webkit-box; */
        margin-left:0px;
        margin-right:0px;
        height: 100vh;
    }

    #page{
        width: 100%;
    }

    #displayComponent{
        width: 100%;
        height: 50vh;
        border: 1px solid black;
    }

    #moitBas {
        height: 50vh;
    }

    .navigation{
        width: 100%;
        height: 25%;
        border: 1px solid black;
    }


    .bg-jaune{
        background-color :#ffc300;
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .blancFooter{
        color:black;
        font-size:10px;
    }


@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    #displayComponent{
        width: 50%;
        height: 100%;
        border: 1px solid black;
    }

    .navigation{
        height: 25%;
        border: 1px solid black;
    }

    #moitBas {
        height: 100vh;
    }
}
