.jaune{
  color: #ffc300;
}

.titre{
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-bottom : 1px solid #ffc300;
}

.txtLabel{
  margin-top: 20px;
  margin-bottom: 20px;
}

.photoMoi{
  border: 1px solid #ffc300;
  border-radius: 8px;
  height: 300px;
  width: auto;
}

.fond{
  background-image: url();
  background-repeat: no-repeat;
  background-size: cover;
}

.btnHire{
  margin-bottom: 25px;
}
