.spacer{
    margin: 20px;
}

.titre{
    margin-top: 30px;
    margin-bottom: 30px;;
    font-size: 30px;
}

.jaune{
    color: #ffc300;
}

.backJaune{
    background-color: #ffc300;
    color : white;
}
